includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::setMessageID\(\)#'
        - '#Call to an undefined static method [a-zA-Z0-9\\_]+::setMessageStatus\(\)#'
